version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=image_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    
  app:
    build: ./backend
    volumes:
      - ./backend/images:/app/images
      - ./backend/logs:/app/logs
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    networks:
      - app_network
    
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./frontend:/usr/share/nginx/frontend
      - ./backend/images:/usr/share/nginx/images
    depends_on:
      - app
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
  
volumes:
  postgres_data: